* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	font-family: "Raleway", sans-serif;
	background-color: #ecf0f1;
}

.blur {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

/* ============ TOOLBAR ============ */

/*FILTER*/
.toolbar {
	height: 12vh;
	background-color: #2d3436;
	display: flex;
	align-items: center;
	padding-left: 5rem;
}
.filter-container {
	height: 60%;
	width: 17rem;
	/* border: 1px solid red; */
	margin-right: 3rem;
	margin-left: 10rem;
	background-color: #2d3436;
	display: flex;
}

.filter-container > * {
	border: 1px solid #2d343600;
	background-color: #2d343600;
	border-radius: 5rem;
}

.filter {
	height: 100%;
	width: 100%;
	/* perfectly center */
	display: flex;
	justify-content: center;
	align-items: center;
}
.filter_color {
	height: 90%;
	width: 90%;
	/* border: 1px solid red; */
	border-radius: 5rem;
	transition: transform 0.5s;
}
#toolbarFilterPink,
#toolbarFilterBlue,
#toolbarFilterGreen,
#toolbarFilterBlack {
	transition: transform 0.5s;
}

#toolbarFilterPink:hover {
	transform: scale(1.2, 1.2);
}
#toolbarFilterBlue:hover {
	transform: scale(1.2, 1.2);
}
#toolbarFilterGreen:hover {
	transform: scale(1.2, 1.2);
}
#toolbarFilterBlack:hover {
	transform: scale(1.2, 1.2);
}

.pink {
	background-color: #ff79a8;
}
.blue {
	background-color: #1a4299;
}
.green {
	background-color: rgb(28, 145, 71);
}
.black {
	background-color: #1e272e;
}

/*ACTION*/
.action-container {
	height: 40%;
	width: 6.5rem;
	/* border: 1px solid red; */
	background-color: #2d3436;
	display: flex;
}

.action-container > * {
	/* border: 1px solid #2d3436; */
	/* background-color: red; */
	border-radius: 6rem;
	margin-right: 0.3rem;
}

.icon-container {
	width: 50%;
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

/*INFORMATION*/
.information_container {
	position: absolute;
	top: 4.4vh;
	right: 3rem;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkgray;
	border-radius: 5rem;
	transition: transform 0.3s;
}

.fa-info {
	color: rgb(32, 32, 32);
}

.information_container:hover {
	transform: scale(1.3, 1.3);
	background-color: rgb(212, 212, 212);
	border-radius: 5rem 5rem 5rem 0rem;
}

.functionalities {
	position: absolute;
	top: 5.2rem;
	right: 5.5rem;
	height: 47rem;
	width: 20rem;
	border: 1px solid darkgray;
	border-radius: 3rem 0rem 3rem 3rem;
	background-color: rgb(238, 238, 238);
	padding: 1rem;
}

/* icons -> text */
.plus {
	background-color: #3498db;
	transition: transform 0.1s;
}

.cross {
	background-color: #d63031;
	transition: transform 0.1s;
}

.plus:hover {
	transform: scale(1.1, 1.1);
}

.cross:hover {
	transform: scale(1.1, 1.1);
}

.fas {
	font-size: 1.5rem;
}
.active {
	background-color: #ff7675;
}

/*INFORMATION*/

/* ============ TOOLBAR ============ */

/* ============ MODAL CONTAINER ============ */
.modal_container {
	position: absolute;
	height: 20rem;
	width: 36rem;
	background-color: white;
	/* variable value */
	left: calc((100vw - 36rem) / 2);
	top: 30vh;
	display: flex;
	box-shadow: 0rem 1rem 40rem black;
	border-radius: 2rem 0rem 0rem 2rem;
}
.input_container {
	height: 100%;
	width: 95%;
}
.half_border {
	position: relative;
	left: 0.5rem;
	height: 0.5px;
	width: 80%;
	background-color: lightgray;
}
.modal_heading_input {
	margin: 0%;
	height: 20%;
	width: 100%;
	/* border: 1px solid red; */
	border: none;
	border-radius: 2rem 0rem 0rem 0.5rem;
	padding: 0.5rem 3rem;
	font-family: "Raleway", sans-serif;
	font-size: 2rem;
	line-height: 145%;
	font-weight: 400;
	background-color: rgb(248, 245, 245);
}
.modal_input {
	margin: 0%;
	height: 80%;
	width: 100%;
	outline: none;
	padding: 2rem 3rem;
	/* border: 1px solid red; */
	border: none;
	border-radius: 2rem 0rem 0rem 2rem;
	font-family: "Raleway", sans-serif;
	font-size: 1.5rem;
	/*  line between space */
	line-height: 145%;
	font-weight: 400;
	/* border: none; */
}
.modal_filter_container {
	position: relative;
	height: 100%;
	width: 0%;
	/* background-color: rgb(59, 59, 59); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.1rem;
	align-items: center;
	padding: 0.2rem 0rem;
}
.modal_filter_container > .filter {
	position: relative;
	right: 0rem;
	width: 8rem;
}

.fas.fa-times.new {
	position: relative;
	bottom: 2rem;
	left: 2.5rem;
	background-color: rgb(26, 25, 25);
	color: white;
	border-radius: 5rem;
	height: 2rem;
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
#modalpink {
	position: absolute;
	margin: 0;
	height: 25%;
	transition: transform 1s;
	background-position: left top;
	-webkit-transition: width 0.3s;
	right: -1.8rem;
	top: 0rem;
}

#modalblue {
	position: absolute;
	margin: 0;
	height: 25%;
	transition: transform 1s;
	background-position: left top;
	-webkit-transition: width 0.3s;
	right: -1.8rem;
	top: 5rem;
}
#modalgreen {
	position: absolute;
	margin: 0;
	height: 25%;
	transition: transform 1s;
	background-position: left top;
	-webkit-transition: width 0.3s;
	right: -1.8rem;
	top: 10rem;
}
#modalblack {
	position: absolute;
	margin: 0;
	height: 25.5%;
	transition: transform 1s;
	background-position: left top;
	-webkit-transition: width 0.3s;
	right: -1.8rem;
	top: 15rem;
}

#modalpink:hover {
	width: 170px;
	opacity: 50%;
}
#modalblue:hover {
	width: 170px;
	opacity: 50%;
}
#modalgreen:hover {
	width: 170px;
	opacity: 50%;
}
#modalblack:hover {
	width: 170px;
	opacity: 50%;
}

.border {
	opacity: 50%;
	width: 170px;
}

/* ============ MODAL CONTAINER ============ */

/* ============ TASK CONTAINER ============ */
.main_container::-webkit-scrollbar {
	display: none;
}
.main_container {
	height: 69vh;
	width: 80%;
	border: 1px solid rgba(209, 204, 204, 0.363);
	overflow: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 2rem;
	background-color: rgba(211, 211, 211, 0.212);
	border-radius: 5rem;

	/* Remove Scroll Bar */
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.task_filter {
	height: 6%;
	border-radius: 4rem;
	width: 50%;
	margin-top: 1rem;
	margin-left: 5rem;
}
.task_container {
	margin-top: 3rem;
	margin-right: 1rem;
	border: 1px solid rgba(99, 94, 94, 0.192);
	height: 15rem;
	width: 20rem;
	background-color: #fff;
	border-radius: 4rem;
	padding: 0.5rem;
}
.task_desc_container {
	height: 80%;
	text-align: center;
}
.heading_desc {
	height: 2rem;
	position: relative;
	top: -1.5rem;
	/* border: 1px solid red; */
	color: #444;
	font-size: 1.5rem;
}
.task_container_heading_border {
	position: relative;
	bottom: 3.2rem;
	width: 70%;
	left: 3rem;
	height: 2px;
	background-color: rgba(219, 214, 214, 0.329);
}
.task_desc {
	/* border: 1px solid rgba(238, 234, 234, 0.74); */
	/* border: 1px solid red; */
	border-radius: 3rem;
	position: relative;
	bottom: 2.5rem;
	height: 70%;
	overflow: auto;
	text-align: center;
	/* words */
	word-break: break-all;
	font-size: 1rem;
	outline: none;
}
.uid {
	position: relative;
	top: -2rem;
	left: 3.5rem;
	/* border: 1px solid red; */
	height: 0px;
	color: rgba(0, 0, 0, 0.171);
	font-size: 8px;
}

.lock-unlock {
	width: 0%;
	position: relative;
	bottom: 1.5rem;
	left: 18rem;
	display: flex;
	justify-content: flex-end;
	background-color: white;
	/* border: 1px solid red; */
}

.fa-lock-open {
	/* border: 1px solid red; */
	color: lightgray;
	position: relative;
	bottom: 0.5rem;
	right: 0.5rem;
}

.fa-lock {
	color: darkgray;
	position: relative;
	bottom: 0.5rem;
	right: 0.5rem;
}
/* ============ TASK CONTAINER ============ */

/* ============ FOOTER ============ */

.footer {
	height: 16vh;
	/* border: 1px solid red; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.clear {
	height: 65%;
	width: 6.5rem;
	/* border: 1px solid green; */
	/* padding: 1rem 1.5rem; */
	margin-right: 3rem;
}

.clearBtn {
	height: 100%;
	/* border: 1px solid blue; */
	border-radius: 50rem;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.5s;
}

.fa-trash {
	font-size: 3rem;
}
/* ============ FOOTER ============ */

/* ============ ANIMATION ============ */
.clearBtn:hover {
	background-color: lightcoral;
	transform: scale(1.2, 1.2);
	color: rgb(75, 71, 71);
}
/* ============ ANIMATION ============ */
